.elementor-post__card {
  background-color:rgb(162, 233, 191);
  justify-content: center;
  align-items: center;
  width: 400px;
  border-radius: 10px;
  padding-left: 10px;
  color: green;

}

.elementor-post__text {
  justify-content: center;
  align-items: center;
  background-color: rgb(197, 235, 197);
  width: 480px;
  border-radius: 10px;
  padding-left: 10px;
  color: black;
}

.elementor-posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.elementor-post {
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 20px;
  box-sizing: border-box;
}

@media (max-width: 720px) {
  .elementor-post {
    flex: 0 0 calc(50% - 20px);
  }
}

h1 {
  text-align: center;
  color: rgb(66, 104, 10);
}
img{
  height: 200px;
  width: 400px;
}